body {
    margin: 0;
}


.viewport{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/**
    Navigationsleiste
**/

#scrollnav {
    background-image: url(menue_test-01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    width: 50vw;
    left: 25vw;
    top: 1vw;
    z-index: 10;
}

#scrollnav div {
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 1vw;
    margin-top: 0.25vw;
    margin-left: 0.3vw;
}

#scrollnav a {
    display: inline-block;
    width: 2.25vw;
    height: 2.25vw;
    border-radius: 2vw;
    margin-top: 0.25vw;
    margin-left: 0.25vw;
    text-decoration: none;
}

#scrollnav a:not(:first-child) {
    margin-left: 5.075vw;
}

#scrollnav a:hover div {
    background-color: red !important;
}

/**
*
*Intro
*
**/

#zug {
    margin: 0;
    width: 500vw;
    height: 100vw;
    background-image: url("bahn_ohne_tuer-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#left_door div{
    width: 47vw;
    height: 41vw;
    margin-top: 6vw;
    background-image: url("tuer_links_graffiti-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
}

#right_door div{
    margin-top: 6vw;
    width: 47vw;
    height: 41vw;
    background-image: url("tuer_rechts_graffiti-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: absolute;
}

#right_door, #left_door{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/**
*
*Szene2
*
**/


#s2_hintergrund{
    width: 480vw;
    height: 50vw;
    background-image: url(Szene2/Hintergrund/hintergrund_entwurf.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    position: absolute;
    z-Index: -11;
}

.schilder{
    width: 20vw;
    height: 10vw;
    z-Index: -10;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#s2_schild_essen{
    background-image: url(Szene2/Hintergrund/bahnhof_schild_essen-01.png);
    top: 20vw;
    left: 28vw;
}


#s2_schild_ddorf{
    background-image: url(Szene2/Hintergrund/bahnhof_schild_text_ddorf-01.png);
    top: 20vw;
    left: 124vw;
}

#s2_schild_leverkusen{
    background-image: url(Szene2/Hintergrund/bahnhof_schild_leverkusen-01.png);
    top: 20vw;
    left: 180vw;
}

#s2_schild_koeln {
    background-image: url(Szene2/Hintergrund/bahnhof_schild_text_koeln-01.png);
    top: 20vw;
    left: 225vw;
}

#s2_bahn_innen{
    width: 500vw;
    height: 100vw;
    background-image: url(Szene2/Bahn/bahn_innen_alina-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    position: absolute;
    z-Index: -9;

}

#s2_protagonist div{
    width: 30vw;
    height: 70vw;
    background-image: url(Szene2/Personen/hauptcharakter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -8;
    position: absolute;
    top: 26vh;
    right: -330vw;
}

/*
#s2_frau1 div{
    width: 25vw;
    height: 37vw;
    background-image: url(Szene2/Personen/richBitch1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;

    top: 37vh;
    /*
    left: 35vw;*/
/*
}
*/

/*
vordere Reihen bewegen sich  minimal schneller als hintere Reihen
vorder Reihe: translateX(-265vw);
mitllere Reihe: translateX(-255vw);
hintere Reihe: translateX(-250vw);
*/

/*
Mann: width:25vw; height: 38vw; top: 23vh;
Mann steht quasi in der hintere Reihe; ganzer Körper sichtbar
mit skrollr auf der x-Achse positioniert
*/
#s2_mannZeche div{
    width: 25vw;
    height: 38vw;
    background-image: url(Szene2/Personen/zeche1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 23vh;


}

#s2_mannRuhrpott div{
    width: 25vw;
    height: 37vw;
    background-image: url(Szene2/Personen/ruhrpott1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 14vh;
}

#s2_bierFlasche div{
    width: 4vw;
    height: 4vw;
    background-image: url(Szene2/Details/bier.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 51vh;
    left: 105vw;
}


#s2_reicheFrau div{
    width: 25vw;
    height: 40vw;
    background-image: url(Szene2/Personen/richBitch1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;

    top: 38vh;
    left: 168vw;

}


#s2_reicherMann1 div{
    width: 25vw;
    height: 38vw;
    background-image: url(Szene2/Personen/mann_ddorf_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 23vh;
    left: 136vw;

}

#s2_reicherMann2 div{
    width: 25vw;
    height: 33vw;
    background-image: url(Szene2/Personen/richGuy.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 15vh;
    left: 182vw;


}



#s2_becher div{
    width: 3vw;
    height: 3vw;
    background-image: url(Szene2/Details/coffee.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 53vh;
    left: 222vw;

}


#s2_funFact div{
    width: 30vw;
    height: 30vw;
    background-image: url(Szene2/Details/s2_funFact.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 10vh;
    left: 233vw;

}

#s2_Jeck1 div{
    width: 25vw;
    height: 50vw;
    background-image: url(Szene2/Personen/Jan.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 28vh;
    left: 280vw;

}

#s2_Jeck2 div{
    width: 25vw;
    height: 33vw;
    background-image: url(Szene2/Personen/fussballfan_fc_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 15vh;
    left: 320vw;


}


#s2_frauMusik div{
    width: 25vw;
    height: 30vw;
    background-image: url(Szene2/Personen/musik_frau_sitzen.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 33vh;
    left: 340vw;
}


#s2_blase1 div{
    width: 5vw;
    height: 3vw;
    background-image: url(Szene2/Details/kleineBlase.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -7;
    position: absolute;
    top: 30vh;
    right: -308vw;

}

#s2_blase2 div{
    width: 5vw;
    height: 4vw;
    background-image: url(Szene2/Details/kleineBlase.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -7;
    position: absolute;
    top: 25vh;
    right: -311vw;
}

#s2_blase3 div {
    width: 50%;
    height: 50%;
    background-image: url(Szene2/Details/blase2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -7;
    position: absolute;
    top: 10vh;
    right: -310vw;
}
#s3_bahnhof{
    display: flex;
    background-image: url("img/Szene3/bahnhof_derendorf-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -5;
    width: 200vw;
    height: 60vw;
}
#s3_werbung_1{
    display: flex;
    background-image: url("img/Szene3/werbung_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -4;
    width: 22.5vw;
    height: 26vw;
    top: 11.6vw;
    left: 7vw;
}
#muteButton{
    position: absolute;
}
#unMuteButton{
    left: 2.5vw;
    position: absolute;
}
.s3_zug {
    margin: 0;
}
#s3_haupt_charakter {
    width: 20vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
    top: 22vw;
    left: 44vw;
}
#s3_oma{
    width: 10vw;
    height: 10vw;
    background-image: url("img/Szene3/oma.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
    top: 25vw;
    left: 70vw;
}
#s3_mann_1{
    width: 20vw;
    height: 12vw;
    background-image: url("img/Szene3/mann_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
    top: 20vw;
    left: 20vw;
}
#s3_frau_1{
    width: 20vw;
    height: 15vw;
    background-image: url("img/Szene3/frau1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
    top: 22vw;
    left: 43vw;
}
#s3_zug_vorne {
    width: 150vw;
    height: 100vw;
    background-image: url("img/Szene3/Bahn_vorne.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 13vw;
    position: absolute;
    left: 0vw;
}
#s3_zug_hinten{
    width: 150vw;
    height: 100vw;
    background-image: url("img/Szene3/Bahn_ende.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 7.5vw;
    position: absolute;
}
#s3_uhr{
    background-image: url("img/Szene3/bahnhofsuhr-01.svg");
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: absolute;
}
#s3_uhr_punkt{
    background-image: url(img/Szene3/bahnhofsuhr_punkt-01.svg);
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: fixed;
    z-index: 5;
}
#s3_se_zeiger{
    background-image: url(img/Szene3/bahnhofsuhr_sekunde-01.svg);
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: fixed;
    z-index: 4;
}
#s3_kl_zeiger{
    background-image: url("img/Szene3/bahnhofsuhr_stunde-01.svg");
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: fixed;
    z-index: 2;
}
#s3_gr_zeiger{
    background-image: url("img/Szene3/bahnhofsuhr_minute-01.svg");
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: fixed;
    z-index: 3;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rev_rotate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


body {
    margin: 0;
}


.viewport{
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: translateZ(0);
}

.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
}


/**
*
* Szene4
*
**/



#s4_hintergrund{
    width: 480vw;
    height: 50vw;
    background-image: url(Szene4/hintergrund_jan_lang.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -100;
}

#s4_bahn_innen {
    width: 500vw;
    height: 100vw;
    background-image: url(Szene4/bahn_innen_jan-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    z-index: -12;
}

#s4_bahn {
    width: 500vw;
    height: 100vw;
    top: -30vw;
    background-image: url(Szene4/Bahn_mitte.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
}

#s4_baum_1  {
    width: 100vw;
    height: 40vw;
    top: 5vw;
    background-image: url(Szene4/baum-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -50;
}

#s4_wald {
    width: 100vw;
    height: 50vw;
    top: 6vw;
    background-image: url(Szene4/wald-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -51;
}


#s4_tunnel_licht {
    height: 100vw;
    width: 5000vw;
    position: absolute;
    z-index: -15;
    background-color: black;
}

#s4_tunnel {
    height: 50vw;
    width: 400vw;
    top: 5vw;
    position: absolute;
    z-index: -16;
    background-image: url(Szene4/tunnel-01.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#s4_layer_licht_blitz {
    height: 100vw;
    width: 300vw;
    position: absolute;
    z-index: 1000;
    background-color: white;
}






/**
*
*
**/
/*
vordere Reihen bewegen sich  minimal schneller als hintere Reihen
vorder Reihe: translateX(-265vw);
mitllere Reihe: translateX(-255vw);
hintere Reihe: translateX(-250vw);
*/

/*
Mann: width:25vw; height: 38vw; top: 23vh;
Mann steht quasi in der hintere Reihe; ganzer Körper sichtbar
mit skrollr auf der x-Achse positioniert
*/

#s4_fan_1 {
    width: 25vw;
    height: 38vw;
    background-image: url(Szene4/Fußballfans/fussballfan_fc_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -6;
    position: absolute;
    top: 12vw;
}

#s4_fan_2{
    width: 25vw;
    height: 39vw;
    background-image: url(Szene4/Fußballfans/fussballfan_fc_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -9;
    position: absolute;
    top: 11vw;
}

#s4_fan_3 {
    width: 25vw;
    height: 35vw;
    background-image: url(Szene4/Fußballfans/fussballfan_bvb_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 11vw;
}

#s4_fan_4 {
    width: 25vw;
    height: 39vw;
    background-image: url(Szene4/Fußballfans/fussballfan_f95_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -4;
    position: absolute;
    top: 13vw;
}

#s4_fan_5 {
    width: 25vw;
    height: 41vw;
    background-image: url(Szene4/Fußballfans/fussballfan_b04_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 12vw;
}

#s4_fan_6 {
    width: 25vw;
    height: 41vw;
    background-image: url(Szene4/Fußballfans/fussballfan_bvb_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -2;
    position: absolute;
    top: 13vw;
}

#s4_fan_7 {
    width: 25vw;
    height: 38vw;
    background-image: url(Szene4/Fußballfans/fussballfan_f95_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 13vw;
}

#s4_band_1 {
    width: 45vw;
    height: 50vw;
    background-image: url(Szene4/Band/band_rasseln1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 12vw;
}

#s4_band_1_arm_l{
    width: 10vw;
    height: 10vw;
    background-image: url(Szene4/Band/band_gitarre_arm.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -5;
    top:21.3vw;
    left:14.1vw;
    position: absolute;
}

#s4_band_2 {
    width: 45vw;
    height: 53vw;
    background-image: url(Szene4/Band/band_gitarre.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -6;
    position: absolute;
    top: 11vw;
}

#s4_band_2_arm {
    width: 10vw;
    height: 10vw;
    background-image: url(Szene4/Band/band_gitarre_arm.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -5;
    top:21.3vw;
    left:14.1vw;
    position: absolute;
}

@keyframes gitar_1 {
    0% {

        transform: rotate(-8deg);
    }
    25% {
        transform: rotate(8deg);
    }

    50% {

        transform: rotate(-8deg);
    }
    75% {
        transform: rotate(8deg);
    }

    100% {

        transform: rotate(-8deg);
    }
}

#s4_band_3 {
    width: 45vw;
    height: 50vw;
    background-image: url(Szene4/Band/band_trompete1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -9;
    position: absolute;
    top: 11vw;
}

#s4_band_3_arm {
    width: 12vw;
    height: 12vw;
    background-image: url(Szene4/Band/trompete.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -5;
    top:9vw;
    left:19.2vw;
    position: absolute;
}

@keyframes tromp_1 {
    0% {

        transform: rotate(-4deg);
    }
    25% {
        transform: rotate(4deg);
    }

    50% {

        transform: rotate(-4deg);
    }
    75% {
        transform: rotate(4deg);
    }

    100% {

        transform: rotate(-4deg);
    }
}

#s4_jan{
    width: 25vw;
    height: 36vw;
    background-image: url(Szene4/Köln/Jan.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 16vw;
}

#s4_mann_1{
    width: 25vw;
    height: 31vw;
    background-image: url(Szene4/Köln/mann_ddorf_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 10vw;
}

#s4_mann_2{
    width: 25vw;
    height: 33vw;
    background-image: url(Szene4/ruhrpott/ruhrpott1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -7;
    position: absolute;
    top: 11vw;
}

#s4_mann_3{
    width: 25vw;
    height: 39vw;
    background-image: url(Szene4/mann_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -3;
    position: absolute;
    top: 13vw;
}

#s4_frau_3{
    width: 25vw;
    height: 33vw;
    background-image: url(Szene4/düsseldorf/richBitch1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -9;
    position: absolute;
    top: 15vw;
}

#s4_frau_1{
    width: 25vw;
    height: 32vw;
    background-image: url(Szene4/frau1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -3;
    position: absolute;
    top: 15vw;
}

#s4_frau_2{
    width: 25vw;
    height: 32vw;
    background-image: url(Szene4/frau3.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -3;
    position: absolute;
    top: 17vw;
}

#s4_tim{
    width: 25vw;
    height: 44vw;
    background-image: url(Szene4/Szene4_Tim_genervt.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -3;
    position: absolute;
    top: 14vw;
}

#s4_tim_tunnel{
    width: 25vw;
    height: 44vw;
    background-image: url(Szene4/Szene4_Tim_Tummel.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: 5000;
    position: absolute;
    top: 14vw;
}


.funfact{
    width: 30vw;
    height: 30vw;
    background-image: url(Szene4/fun_fact2-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: 5000;
    position: absolute;
    left: 35vw;

}

.funfact_text {
    width: 21.5vw;
    height: 25vw;
    margin-left: 3.3vw;
    margin-top: 4.2vw;
    font-family: "DB Sans";
    font-size: 1.5vw;
    line-height: 2.25vw;
}




/*
 * Fonts
 */
/* db sans comb regular*/
@font-face {
    font-family: 'db1';
    src: url('../font/DB1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*db sans regular*/
@font-face {
    font-family: 'db2';
    src: url('../font/DB2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



/*
 * Fonts
 */
/* db sans comb regular*/
@font-face {
    font-family: 'db1';
    src: url('../font/DB1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*db sans regular*/
@font-face {
    font-family: 'db2';
    src: url('../font/DB2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
