body {
    margin: 0;
}


.viewport{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/**
    Navigationsleiste
**/

#scrollnav {
    background-color: white;
    background-image: url(menue_test-01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    width: 50vw;
    height: 3vw;
    border-radius: 1vw;
    opacity: 0.8;
    left: 25vw;
    top: 1vw;
    z-index: 10;
}

#scrollnav a {
    float: left;
    width: 2.25vw;
    height: 2.25vw;
    border-radius: 2vw;
    margin-top: 0.25vw;
    text-decoration: none;
}

#scrollnav a div {
    float: left;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 1vw;
    margin-top: 0.4vw;
    margin-left: 0.375vw;
}

#scrollnav a:first-child {
    margin-left: 0.55vw;
}

#scrollnav a:not(:first-child) {
    margin-left: 6.13vw;
}

#scrollnav a:hover div {
    background-color: red !important;
}

#scrollnav .scrollnav_name {
    display: none;
}

#scrollnav a:hover + .scrollnav_name {
    display: block;
    float: left;
    transform: rotate(-45deg);
}

#scrollnav a:hover + #scrollnav_name_intro {
    margin-top: 3vw;
    margin-left: -2.5vw;
}

#scrollnav a:hover + #scrollnav_name_pendler {
    margin-top: 3.5vw;
    margin-left: -3.25vw;
}

#scrollnav a:hover + #scrollnav_name_bahnhof {
    margin-top: 3.7vw;
    margin-left: -3.5vw;
}

#scrollnav a:hover + #scrollnav_name_fahrgaeste {
    margin-top: 3.75vw;
    margin-left: -4.25vw;
}

#scrollnav a:hover + #scrollnav_name_nachtfahrt {
    margin-top: 3.75vw;
    margin-left: -4vw;
}

#scrollnav a:hover + #scrollnav_name_outro {
    margin-top: 3.2vw;
    margin-left: -2.75vw;
}

/**
*
*Intro
*
**/

#zug {
    margin: 0;
    width: 500vw;
    height: 100vw;
    background-image: url("bahn_ohne_tuer-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#left_door div{
    width: 47vw;
    height: 41vw;
    margin-top: 6vw;
    background-image: url("tuer_links_graffiti-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
}

#right_door div{
    margin-top: 6vw;
    width: 47vw;
    height: 41vw;
    background-image: url("tuer_rechts_graffiti-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: absolute;
}

#right_door, #left_door{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/**
*
*Szene2
*
**/


#s2_hintergrund{
    width: 480vw;
    height: 50vw;
    background-image: url(Szene2/Hintergrund/hintergrund_entwurf.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    position: absolute;
    z-Index: -11;
}

.schilder{
    width: 20vw;
    height: 10vw;
    z-Index: -10;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#s2_schild_essen{
    background-image: url(Szene2/Hintergrund/bahnhof_schild_essen-01.png);
    top: 20vw;
    left: 28vw;
}


#s2_schild_ddorf{
    background-image: url(Szene2/Hintergrund/bahnhof_schild_text_ddorf-01.png);
    top: 20vw;
    left: 124vw;
}

#s2_schild_leverkusen{
    background-image: url(Szene2/Hintergrund/bahnhof_schild_leverkusen-01.png);
    top: 20vw;
    left: 180vw;
}

#s2_schild_koeln {
    background-image: url(Szene2/Hintergrund/bahnhof_schild_text_koeln-01.png);
    top: 20vw;
    left: 225vw;
}

#s2_bahn_innen{
    width: 500vw;
    height: 100vw;
    background-image: url(Szene2/Bahn/bahn_innen_alina-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    position: absolute;
    z-Index: -9;

}

#s2_protagonist div{
    width: 30vw;
    height: 70vw;
    background-image: url(Szene2/Personen/hauptcharakter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -8;
    position: absolute;
    top: 15vw;
   /* right: -330vw;*/
}


/*
vordere Reihen bewegen sich  minimal schneller als hintere Reihen
vorder Reihe: translateX(-265vw);
mitllere Reihe: translateX(-255vw);
hintere Reihe: translateX(-250vw);
*/

/*
Mann: width:25vw; height: 38vw; top: 23vh;
Mann steht quasi in der hintere Reihe; ganzer Körper sichtbar
mit skrollr auf der x-Achse positioniert
*/
#s2_mannZeche div{
    width: 25vw;
    height: 38vw;
    background-image: url(Szene2/Personen/zeche1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 16vh;


}

#s2_mannRuhrpott div{
    width: 25vw;
    height: 37vw;
    background-image: url(Szene2/Personen/ruhrpott1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 6vw;
}

#s2_bierFlasche div{
    width: 4vw;
    height: 4vw;
    background-image: url(Szene2/Details/bier.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 25vw;
    /*left: 105vw;*/
}


#s2_reicheFrau div{
    width: 25vw;
    height: 40vw;
    background-image: url(Szene2/Personen/richBitch1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;

    top: 20vw;
   /* left: 168vw;*/

}


#s2_reicherMann1 div{
    width: 25vw;
    height: 38vw;
    background-image: url(Szene2/Personen/mann_ddorf_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 10vw;
   /* left: 136vw;*/

}

#s2_reicherMann2 div{
    width: 25vw;
    height: 33vw;
    background-image: url(Szene2/Personen/richGuy.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 8vw;
    /*left: 182vw;*/


}



#s2_becher div{
    width: 3vw;
    height: 3vw;
    background-image: url(Szene2/Details/coffee.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 26vw;
    /*left: 222vw;*/

}


#s2_funFact{
    width: 30vw;
    height: 30vw;
    background-image: url(Szene2/Details/s2_funFact.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: 1;
    position: absolute;
    background-position: center;
    left: 35vw;

}

#s2_Jeck1 div{
    width: 25vw;
    height: 50vw;
    background-image: url(Szene2/Personen/Jan.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 15vw;
   /* left: 280vw;*/

}

#s2_Jeck2 div{
    width: 25vw;
    height: 33vw;
    background-image: url(Szene2/Personen/fussballfan_fc_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 8vw;
    /*left: 320vw;*/


}


#s2_frauMusik div{
    width: 25vw;
    height: 30vw;
    background-image: url(Szene2/Personen/musik_frau_sitzen.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -8;
    position: absolute;
    top: 17vw;
    /*left: 340vw;*/
}


#s2_blase1 div{
    width: 5vw;
    height: 3vw;
    background-image: url(Szene2/Details/kleineBlase.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -7;
    position: absolute;
    top: 16vw;
    right: -308vw;

}

#s2_blase2 div{
    width: 5vw;
    height: 4vw;
    background-image: url(Szene2/Details/kleineBlase.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -7;
    position: absolute;
    top: 13vw;
    right: -311vw;
}

#s2_blase3 div {
    width: 50%;
    height: 50%;
    background-image: url(Szene2/Details/blase2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-Index: -7;
    position: absolute;
    top: 10vh;
    right: -308vw;
}
#s3_bahnhof{
    display: flex;
    background-image: url("Szene3/bahnhof_derendorf-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -5;
    width: 200vw;
    height: 60vw;
}
#s3_werbung_1{
    display: flex;
    background-image: url("Szene3/werbung-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -4;
    width: 22.5vw;
    height: 26vw;
    top: 11.6vw;
    left: 7vw;
}
#muteButton{
    position: absolute;
}
#unMuteButton{
    left: 2.5vw;
    position: absolute;
}
.s3_zug {
    margin: 0;
}
#s3_haupt_charakter {
    width: 20vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
    top: 22vw;
    left: 44vw;
}
#s3_oma{
    width: 10vw;
    height: 10vw;
    background-image: url("Szene3/oma.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
    top: 25vw;
    left: 70vw;
}
#s3_mann_1{
    width: 20vw;
    height: 12vw;
    background-image: url("Szene3/mann_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
    top: 20vw;
    left: 20vw;
}
#s3_frau_1{
    width: 20vw;
    height: 15vw;
    background-image: url("Szene3/frau1.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
    top: 22vw;
    left: 43vw;
}
#s3_zug_vorne {
    background-image: url("Szene3/bahn_hinten_vorne-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 13vw;
    position: absolute;
    left: 0vw;
}
#s3_uhr{
    background-image: url("Szene3/bahnhofsuhr-01.svg");
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: absolute;
}
#s3_uhr_punkt{
    background-image: url("Szene3/bahnhofsuhr_punkt-01.svg");
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: fixed;
    z-index: 5;
}
#s3_se_zeiger{
    background-image: url("Szene3/bahnhofsuhr_sekunde-01.svg");
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: fixed;
    z-index: 4;
}
#s3_kl_zeiger{
    background-image: url("Szene3/bahnhofsuhr_stunde-01.svg");
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: fixed;
    z-index: 2;
}
#s3_gr_zeiger{
    background-image: url("Szene3/bahnhofsuhr_minute-01.svg");
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    left: 89.3vw;
    top: 8.8vw;
    position: fixed;
    z-index: 3;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rev_rotate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*
 * Fonts
 */
/* db sans comb regular*/
@font-face {
    font-family: 'db1';
    src: url('../font/DB1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*db sans regular*/
@font-face {
    font-family: 'db2';
    src: url('../font/DB2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
