body {
    margin: 0;
}

#intro {
    margin: 0;
    display: flex;
}

.zug {
    margin: 0;
}

#left_door {
    width: 50vw;
    height: 100vh;
    background-image: url("door_left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: fixed;
}

#right_door {
    width: 50vw;
    height: 100vh;
    background-image: url("door_right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: fixed;
}
#haupt_charakter {
    width: 100px;
    height: 500px;
    background-image: url("charakter_entwurf2-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    background-position: center;
    z-index: -1;
}

/*
 * Fonts
 */
/* db sans comb regular*/
@font-face {
    font-family: 'db1';
    src: url('../font/DB1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*db sans regular*/
@font-face {
    font-family: 'db2';
    src: url('../font/DB2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
