body{
    margin:0;
}
#s5_nachtfahrt{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#s5_hintergrund_himmel_hell {
    background-size: contain;
    width: 200vw;
    height: 100vw;
    background-image: url(img/himmel_hell-01.png);
    position: absolute;
    z-index:-5;
}

#s5_hintergrund_himmel_dunkel {

    background-size: contain;
    width: 200vw;
    height: 100vw;
    background-image: url(img/himmel_dunkelheit-01.png);
    position: absolute;
    z-index:-4;
}


#s5_hintergrund_landschaft{
    width: 350vw;
    height: 52vw;
    background-image: url(img/hintergrund-01.png);
    background-size: contain;
    z-index: -2;
    position: absolute;
}

#s5_hintergrund_zeche_zoll{
    margin-top: 15vw;
    width: 20vw;
    height: 20vw;
    background-image: url(img/zeche_zollverein-01.png);
    position: absolute;
        background-size: contain;
    background-repeat: no-repeat;
    z-index:-2;
}

#s5_hintergrund_du{
    margin-top: 12.9vw;
    width: 20vw;
    height: 20vw;
    background-image: url(img/dortmunder_u-01.png);
    position: absolute;
        background-size: contain;
    background-repeat: no-repeat;
    z-index:-1;
}

#s5_hintergrund_skyline_ddorf{
    margin-top: -0.3vw;
    width: 80vw;
    height: 100vw;
    background-image: url(img/skyline_ddorf-01.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index:-2;
}

#s5_hintergrund_skyline_lev{
    margin-top: 9.5vw;
    width: 16vw;
    height: 17vw;
    background-image: url(img/bayer_kreuz-01.gif);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
}

#s5_hintergrund_skyline_koeln{
    margin-top:-0.3vw;
    width: 40vw;
    height: 50vw;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url(img/skyline_koeln-01.png);
}
#s5_bahn {
    margin-top: 27.6vw;
    width: 120vw;
    height: 15vw;
    background-image: url(img/Bahn_komplett.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index:1;
}

#s5_sonne {
    width: 10vw;
    height: 10vw;
    background-image: url(img/sonne-01.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index:-4;
}
#s5_tunnel{
    width: 65vw;
    height: 50vw;
    background-image: url(img/tunnel-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
}

#s5_ballon{
    margin-top: 10vw;
    width:4vw;
    height: 4vw;
    background-image: url(img/ballon.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
}

#s5_flugzeug{
    margin-top: 20vw;
    width:5vw;
    height: 30vw;
    background-image: url(img/flugzeug.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
}

#s5_wolken{
    margin-top:3vw;
    width:200vw;
    height: 15vw;
    background-image: url(img/hintergrund_wolken-01.png);
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    z-index: 2;
}

#bruecke {
        margin-top: 11vw;
    width:80vw;
    height: 40vw;
    background-image: url(img/hohenzollernbruecke-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
}

#koeln_rechts {
        margin-top: 12vw;
    width:30vw;
    height: 40vw;
    background-image: url(img/skyline_koeln-01_rechts.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
}
    


